/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
	font-family: 'Open Sans', sans-serif;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-nav {
    float: right;
    margin-top: 8px;
}
.navbar-brand {
    padding: 0;
}
.navbar-default {
    background: none!important;
    border: none!important;
	padding: 2em 0 0 0;
}
.navbar-brand h1 a {
    font-size: 1.5em;
    font-family: 'Damion', cursive;
    text-decoration: none;
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #6FAF09;
    border-radius: 5px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.2em;
	font-family: 'Ubuntu Condensed', sans-serif
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #6FAF09;
    border-radius: 5px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #6FAF09;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #6FAF09;
}
.dropdown-menu > li > a {
    display: block;
    padding: 8px 20px;
    clear: both;
    font-size: 1.2em;
	font-family: 'Ubuntu Condensed', sans-serif
}
.header {
    background: url(../images/banner1.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 938px;
}
.slider {
	position: relative;
	text-align: center;
	width: 100%;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.caption{
	margin-top:17em;
}
.caption h3{
    color: #fff;
    font-size: 3.5em;
    text-transform: capitalize;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 8px;
	width: 8px;
	display: inline-block;
	border: 2px solid #fff;
	border-radius:50%;
	background:#fff;
}
.callbacks_here a:after{
	border: 2px solid #FFF;
	background:transparent;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 29px;
	z-index: 999;
	left: 46%;
	display: none;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 73%;
	left: 15%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 15%;
 }
 .caption p {
    font-size: 1.1em;
    color: #fff;
    line-height: 1.8em;
	padding: 1em 2em 2em 2em;
}
.cap {
    margin-top: 3em;
}
a.button {
    background: #6FAF09;
    font-size: 1em;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5em 1em;
    color: #fff;
	border-radius: 5px;
}
a.button:hover{
	background:#f91d15;
}

/*--order--*/
.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #FFFFFF;
}

.payment-online-form-left{
}
form li {
	list-style: none;
}
form ul {
	padding:0;
}
h4.payment-head{
	font-size: 1.9em;
	color: #222222;
	padding: 0.5em 0;
	text-align: left;
    float: left;	
}
.payment-online-form-left span{
    vertical-align: sub;
	margin-right: 30px;
}
.payment-online-form-left form{
	padding:0 3%;
}
.payment-online-form-left input[type="text"]{
	padding: 1em 1em;
	color: #485460;
	width: 47%;
	margin: 0.5em 0;
	border: none;
	outline: none;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	float: left;
	font-size: 0.9em;
	border-color: #EEE;
	-webkit-appearance:none;
	border-bottom: 1px solid #eee;
}
input#datepicker {
    padding: 1em 1em 1em 1em;
}
.payment-online-form-left input[type="text"]:hover{
	border-color:#fa6e6f;
}
.text-box-dark{
}
.text-box-light{
	position: relative;
}
.payment-online-form-left ul li:first-child input[type="text"]{
	margin-right: 5%;
}
.payment-online-form-left  input[type="text"]:active, .payment-online-form-left input[type="text"]:hover {
	    border-color: #004A77;
    color: #FF8100;
}
.shipping{
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url(../images/icon.png) no-repeat -111px -26px;
}
.payment{
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url(../images/icon.png) no-repeat -154px -23px;
}
.payment-date-section{
	background: url(../images/calender.png) no-repeat #fff 50%;
}
.payment-sendbtns{
	float:right;
	margin: 1.2em 0 1em;
}
.payment-sendbtns input[type="reset"]{
	background:#3498db;
	padding: 6px 50px;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size: 1.2em;
	font-family: 'Oswald', sans-serif;
	display: block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	outline:none;
	
}
.payment-sendbtns input[type="reset"]:hover{
	color:#FFF;
	background:#2980b9;
}
a.order {
	background: #1abc9c;
	padding: 6px 30px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 1.2em;
	font-family: 'Oswald', sans-serif;
	display: block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-appearance: none;
	outline: none;
    text-decoration: none;
	
}
a.order:hover{
	color:#fff;
	background:#16a085;
}
.payment-sendbtns li{
	display:inline-block;
}
.payment-type li{
	display:inline-block;
}
.payment-online-form-right{
	background: #2B2937;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 4px solid #1A1822;
}
/*-----*/
.get-started{
	background:url(../images/get.jpg) no-repeat 0px 0px;
	min-height:400px;
	padding:8% 0 0 0;
	color:#fff;
	background-size:cover;
	text-align:center;
}
.get-started h4{
	font-size:1.5em;
	margin-bottom:1em;
	font-weight:400;
	padding:0;
}
.get-started h3{
	font-size:2.8em;
	font-weight:400;
	margin-bottom:1em;
	padding:0;
}
.get-started a{
	padding: 12px 18px;
	border: 1px solid #FF0426;
	font-size: 1.2em;
	color: #fff;
	outline: none;
	font-weight: 400;
	text-decoration:none;
	background: #f94877;
}
.get-started a:hover{
	background:transparent;
	border: 1px solid #f94877;
}
/*-----*/
/*---start-checkbox----*/
input[type=checkbox].css-checkbox1,input[type=checkbox].css-checkbox2{
	display: none;
}
input[type=checkbox].css-checkbox1 + label.css-label1 {
	height: 30px;
	width: 30px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: super;
	cursor: pointer;
	background: url(../images/icon.png) no-repeat -188px -25px;
	margin-right: 8px;
}
input[type=checkbox].css-checkbox1:checked + label.css-label1 {
	background: url(../images/icon.png) no-repeat -215px -25px;
}
input[type=checkbox].css-checkbox2 + label.css-label2 {
	height: 30px;
	width: 30px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: -20px 0px;
	vertical-align: super;
	cursor: pointer;
	background:url(../images/icon.png) no-repeat -218px -24px;
}
input[type=checkbox].css-checkbox2:checked + label.css-label2 {
	background: url(../images/icon.png) no-repeat -190px -24px;
}
.visa{
	display: inline-block;
	width: 32px;
	height: 32px;
	background:url(../images/icon.png) no-repeat -32px -28px;
}
.paypal{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/icon.png) no-repeat -71px -26px;
}
.payment-online-form-right{
	float: right;
	width: 30%;
	background: #2B2937;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 4px solid #1A1822;
	padding-bottom: 2em;
}
.payment-online-form-right a:hover{
	color:#1ABC9C;
}
.payment-online-form-right ul li{
	display:block;
	padding: 0.5em;
}
.payment-online-form-right ul li a{
	color:#9095AA;
}
.payment-online-form-right h4{
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(144, 149, 170, 0.22);
	padding: 0.8em;
}
.payment-online-form-right ul {
	padding: 0px 1em;
}
.payment-online-form-right h5{
	color: #FFF;
	padding: 0.5em 0.8em 0.4em;
	font-size: 1em;
}
.payment-type {
	margin-top: 3%;
	text-align: left;
}
input[type=checkbox].css-checkbox3,input[type=checkbox].css-checkbox4,input[type=checkbox].css-checkbox5,input[type=checkbox].css-checkbox6{
	display: none;
}
input[type=checkbox].css-checkbox3 + label.css-label3 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 -38px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/filter-bg.png);
}
input[type=checkbox].css-checkbox3:checked + label.css-label3 {
	background-position: 0px 0px;
}
input[type=checkbox].css-checkbox4 + label.css-label4 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/filter-bg.png);
}
input[type=checkbox].css-checkbox4:checked + label.css-label4 {
	background-position: 0px -38px;
}
input[type=checkbox].css-checkbox5 + label.css-label5 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 -38px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/filter-bg.png);
}
input[type=checkbox].css-checkbox5:checked + label.css-label5 {
	background-position: 0px 0px;
}
input[type=checkbox].css-checkbox6 + label.css-label6 {
	height: 22px;
	width: 21px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../images/filter-bg.png);
}
input[type=checkbox].css-checkbox6:checked + label.css-label6 {
	background-position: 0px -38px;
}
.btn-success {
    color: #fff;
    background-color: #f91d15;
    border-color: #f91d15;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #375704;
    border-color: #375704;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #F91D15;
    border-color: #F91D15;
}
.btn-default {
    color: #fff;
    background-color: #375704;
    border-color: #375704;
}
a:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: 0px;
}
/*--order--*/
.high-quality {
    background: #212121;
    padding: 4em 0;
    text-align: center;
}
.high-quality h3 {
    font-size: 2.5em;
    color: #ffffff;
    font-weight: 100;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.high-quality h2 {
    font-size: 3em;
    color: #fff;
    padding: 0.5em 0;
	font-weight: 600;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.high-quality p {
    font-size: 1em;
    color: #888;
    line-height: 1.8em;
}
.high-quality h2 span {
    color: #78b907;
}
.feature-menu {
    background: #fff;
    padding: 4em 0;
}
.last-post h3 {
    font-size: 3em;
    color: #fff;
    text-transform: capitalize;
	font-weight: 600;
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.feature-menu h3 {
	font-size: 3em;
    color: #424242;;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.feature-menu h3 span,.last-post h3  span{
    font-weight: 100;
}
.feature-grid {
    margin: 3em 0 2em 0;
	    position: relative;
}
.rate h5 {
    font-size: 3.5em;
    color: #fff;
	font-family: 'Damion', cursive;
}
.rate {
    position: absolute;
    top: -29px;
    left: 140px;
    width: 29%;
    background: #f91d15;
    padding: 2em 2em;
    border-radius: 56px;
	display:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.rate1{
	position: absolute;
    top: -29px;
    left: 140px;
    width: 29%;
    background: #f91d15;
    padding: 2em 2em;
    border-radius: 56px;
	display:block;
}
.rate:hover {
    transform: rotateY(360deg);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.feature-grid:hover div.rate {
    display: block;
}
.last-post {
    background:url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 580px;
    padding: 4em 0;
}
.last-grids {
    margin-top: 3em;
}
.last1 {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.8em;
}
.last-grid h4 ,.new-grid h4 {
    color: #78b907;
    padding: .5em 0;
    font-size: 1.5em;
	font-weight: 600;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.new-grid h4 a{
	text-decoration:none;
	color: #78b907;
}
.last-grid p {
    font-size: 1em;
    color: #eee;
    line-height: 1.8em;
}
.new-grid p{
	font-size: 1em;
    color: #222;
    line-height: 1.8em;
}
.new-section {
    padding: 4em 0;
}
.news-grids {
    margin-top: 3em;
}
.new-section h3 {
    font-size: 3em;
    color: #424242;
    text-transform: capitalize;
	font-weight: 600;
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.new-section h3 span{
font-weight:100;
}
a.mask {
	text-decoration: none;
	overflow: hidden;
	display: block;
}
a.mask {
	text-decoration: none;
	overflow: hidden;
	display: block;
}
img.zoom-img:hover {
	-webkit-transform: scale(1.1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 1683ms;
	-moz-transform: scale(1.1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 1683ms;
	overflow: hidden;
}
img.zoom-img {
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 1683ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 1683ms;
}
.last-grid {
    padding: 0 0 0 10px;
}
.footer-section {
    padding: 4em 0;
    background: #212121;
}
.footer-grid ul li  {
    font-size: 1em;
    line-height: 2em;
    color: #888;
    list-style: none;
   text-transform: capitalize;
}
.footer-grid ul li a {
    font-size: 1em;
    text-decoration: none;
    line-height: 2em;
    color: #888;
    list-style: none;
   text-transform: capitalize;
}
.footer-grid ul li a:hover {
	color: #4B8F43;
}
.footer-grid h4 {
    font-size: 1.8em;
    color: #fff;
    margin-bottom: .8em;
	text-transform: capitalize;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.footer-grid ul li {
    list-style: none;
}
.footer-grid p a:hover {
    color: #4B8F43;
}
.footer-grid p {
    font-size: .98em;
    line-height: 2em;
    color: #888;
}
.footer-grid p a {
  color: #888;
}
.copy-section{
	padding:2em 0;
	text-align:center;
	background: #6FAF09;
}
.copy-section p {
	font-size: 0.9em;
	color: #fff;
	font-weight: 400;
}
.copy-section  a {
	font-size: 1em;
	color:#fff;
	font-weight: 400;
	text-transform: capitalize;
}
.copy-section a:hover {
	color: #fff;
}
.copy-section a {
	margin: 0 0.3em
}
/**about**/
.about-section {
    padding: 4em 0;
	background: #f2f2f2;
}
.about-section h2 {
    font-size: 3em;
    color: #424242;
	font-weight: 600;
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
	    text-transform: capitalize;
}
.about-grids {
    margin-top: 3em;
}
.about-grid h5 {
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 600;
    color: #424242;
}
.about-grid p {
    font-size: 1em;
    line-height: 1.8em;
    color: #555;
    margin-top: 1em;
}
.about-grid1 img {
    border: 2px solid#D04536;
    padding: .5em;
    box-shadow: 0 0 5px #c3c3c3;
}
.header.head-top {
    min-height: 108px;
}
.about-grid {
    margin-top: 1em;
}
.cook1 {
    border-top: 8px solid #f5261f;
    padding: 4em 0;
}
.cook2 {
    border-top: 8px solid #7B7A7A;
    padding: 4em 0;
}
.cook3 {
    border-top: 8px solid #6FAF09;
   padding: 4em 0;
}
.cook-grid h3 {
    font-size: 2.5em;
    color: #424242;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.cook-grid p {
    font-size: 1em;
    line-height: 1.8em;
    color: #555;
    padding: 2em 0;
}
.cook-grid ul li a {
    font-size: 1em;
    line-height: 1.8em;
    text-decoration: none;
    color: #555;
	list-style: none;
    padding: 6px 30px;
    background: url(../images/list-arrow.png) no-repeat 0px 0px;
    text-transform: capitalize;
}
.cook-grid ul li {
    list-style: none;
}
.about-section h2 span {
    font-weight: 100;
}
.staff-section {
  padding: 4em 0;
  position:relative;
  background:#6FAF09;
  text-align: center;
}
.staff-section h3 {
    font-size: 3em;
    color: #fff;
	text-transform:capitalize;
	font-weight:600;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.staff-section h3  span{
	font-weight:100;
}
.ch-grid {
	margin: 4em 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}
.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
.ch-info{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
	box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}

.ch-info .ch-info-back {
	-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background:#282828;
	opacity: 0;
}
.ch-img-1 { 
	  background: url(../images/s1.jpg)no-repeat;
	z-index: 12;
}

.ch-img-2 { 
	  background: url(../images/s2.jpg)no-repeat;
	z-index: 11;
}

.ch-img-3 { 
	  background: url(../images/s3.jpg)no-repeat;
	z-index: 10;
}
.ch-img-4 { 
	  background: url(../images/s4.jpg)no-repeat;
	z-index: 10;
}
.ch-info h4 {
	color: #fff;
   font-size: 1.5em;
    margin: 0 15px;
    padding: 61px 0 0 0;
    height: 110px;
    text-shadow: 0 0 1px #fff; 
	font-family: 'Ubuntu Condensed', sans-serif;
 }
.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}
.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
}

.ch-info p a:hover {
    color: #fff;
}

.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}
/*--team--*/
/*--iteam--*/
.iteam {
    padding: 4em 0;
	text-align: center;
}
.iteam h3 {
    font-size: 3em;
    text-transform: capitalize;
    color: #424242;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.iteam h3 span{
	font-weight:100;
}
.items-grids {
    margin-top: 3em;
}
.items-grid img {
    border: 2px solid#D04536;
    padding: .5em;
    box-shadow: 0 0 5px #c3c3c3;
}
/*--iteam--*/
/*--history--*/
figure.icon i {
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin-top: 1.5em;
  z-index: 9999;
}
.history-section {
    padding: 4em 0;
    text-align: center;
    background: url(../images/banner.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 475px;
}
.history-section  h3{
    font-size: 3em;
    color: #fff;
	text-transform:capitalize;
	font-weight:600;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.history-section  h3 span{
	font-weight:100;
}
.history-grid .icon {
  width: 120px;
  height: 120px;
   border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  background:#f5261f;
  margin: 0 auto;
  text-align: center;
  position: relative;	
}
.history-grid.icon img {
  position: relative;
  z-index: 100;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  margin-top: 1em;
}
a.btn.btn-primary.btn-lg.see-button.hvr-shutter-out-horizontal {
  background:#53d0c6;
}
.history-grid .icon:before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  background:#282828;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.history-grid:hover .icon img {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.history-grid:hover .icon:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.history-grid h5{
  color:#fff;
  font-size: 3em;
  margin: 0.5em 0 ;
  }
.history-grid h6{
  color: #eee;
  font-size: 1.5em;
  line-height: 1.8em;
}
.history-grids {
   margin-top: 3em;
}
i.glyphicon {
    margin: 0;
}
/*--history--*/
/*-- gallery --*/
.gallery h2 {
    font-size: 3em;
    color: #424242;
    font-weight: 600;
    text-align: center;
	text-transform:capitalize;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.gallery h2 span{
font-weight:100;
}
.gallery {
    padding: 4em 0;
}
.gallery-grids{
	margin-top:3em;
}
.gallery-grid{
	float:left;
	width:33.33%;
}
.gallery-grid img {
    border: 1px solid #fff;
}
/*-- //gallery --*/

/*-- typography --*/
.typography {
    padding: 4em 0;
}
.typography-info h2 {
    text-align: center;
    font-size: 3em;
	color: #424242;
	font-weight: 600;
	text-transform: capitalize;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.typography-info h2 span {
    font-weight: 100;
}
.show-grid [class^=col-] {
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
  -webkit-border-radius:4px;
	-moz-border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg {
    margin-bottom: 1em;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #424242;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_4 {
    margin-top: 2em;
}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
/***contact page ***/
.contact{
	padding: 4em 0;
	text-align: center;
}
.contact h2 {
   font-size: 3em;
   color: #424242;
   font-weight: 600;
   text-align: center;
   text-transform:capitalize;
   font-family: 'Ubuntu Condensed', sans-serif;
}
.contact h2  span{
	font-weight: 100;
}
.google-map {
    margin-top: 3em;
}
.google-map iframe {
	width: 100%;
	min-height: 400px;
	border: none;
	margin-bottom: 2em;
}
.contact-grids {
    text-align: left;
}
.contact-left p {
	color: #777;
	font-size: 1em;
	line-height: 1.8em;
}
.contact-left p a {
    text-decoration: none;
    color: #777;
}
.contact-left p a:hover {
    color: #4B8F43;
}
address {
   margin: 1em 0 0;
 }
.contact-right h5{
	font-size:1em;
	text-transform: uppercase;
	font-weight: 400;
	padding: 10px 0;
	color: #222;
	
}
.contact-right input[type="text"] {
	width: 100%;
	padding: 10px 10px;
	font-size: 1em;
	outline: none;
	border: 1px solid #dcdee0;
}
.contact-right textarea {
	width: 100%;
	padding: 10px 10px;
	font-size: 1em;
	height: 10em;
	resize: none;
	outline: none;
	border: 1px solid #dcdee0;
	
}
.contact-right input[type="submit"] {
	width: 20%;
	font-size: 1em;
	text-transform: uppercase;
	background: #6FAF09;
	border: none;
	outline: none;
	margin-top: 0.5em;
	color: #fff;
	font-weight: 500;
	padding: 10px 0;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.contact-right input[type="submit"]:hover {
	background: #f5261f;
}

				/**responsive**/

@media(max-width:1440px){
.header {    
	min-height: 835px;
}
.caption {
    margin-top: 14em;
}
}

@media (max-width: 1366px){
.header {
    min-height: 800px;
}
.caption {
    margin-top: 12em;
}
}

@media (max-width: 1280px){
.header {
    min-height: 739px;
}
.caption {
    margin-top: 10em;
}
}
@media (max-width: 1080px){
.header {
    min-height: 597px;
}
.caption {
    margin-top: 5em;
}
.caption h3,.feature-menu h3,.last-post h3,.new-section h3,.staff-section h3,.iteam h3,.history-section h3 {
   font-size: 2.8em;
}
.caption p,.high-quality p,.last-grid p,.new-grid p,.about-grid p,.cook-grid p,.contact-left p {
    font-size: 0.965em;
}
.high-quality h2 ,.about-section h2,.gallery h2,.typography-info h2,.contact h2{
    font-size: 2.8em;
}
.rate1 {
    padding: 1.5em 1em;
	left: 120px;
}
.rate {
    padding: 1.5em 1em;
	left: 120px;
}
.last-post {
    min-height: 560px;
}
.last-grid h4, .new-grid h4 {
    font-size: 1.3em;
}
.about-grid h5 {
    font-size: 1em;
}
.cook-grid h3 {
    font-size: 2em;
}
.ch-grid li {
    margin: 6px;
}   
.history-grid h5 { 
    font-size: 2.8em;
}
.history-grid h6 {
    color: #eee;
    font-size: 1.4em;
}
.footer-grid h4 {
    font-size: 1.5em;
}
}
@media (max-width: 991px){
.navbar-brand h1 a {
    font-size: 1.2em;
}
.navbar-default .navbar-nav > li > a {
     font-size: 1em;
}
.dropdown-menu > li > a {
    font-size: 1em;
}
.cap-img {
    width: 50%;
	 float: left;
}
.cap {
    width: 50%;
    float: left;
}
.high-quality h3 {
    font-size: 2em;
}
.caption h3, .feature-menu h3, .last-post h3,.new-section h3, .staff-section h3, .iteam h3, .history-section h3 {
    font-size: 2.4em;
}
.header {
    min-height: 535px;
}
.caption p, .high-quality p, .last-grid p, .new-grid p,.footer-grid p, .about-grid p, .cook-grid p, .contact-left p {
    font-size: 0.95em;
}
.high-quality,.feature-menu,.last-post,.new-section,.footer-section,.about-section,.staff-section,.iteam,.history-section,.gallery,.typography,.contact {   
 padding: 3em 0;
}
.high-quality h2, .about-section h2, .gallery h2, .typography-info h2, .contact h2 {
    font-size: 2.5em;
}
.feature-grid {
    float: left;
    width: 33.3%;
}
.rate {
    padding: 1em 1em;
    left: 95px;
	    width: 31%;
}
.rate1 {
    padding: 1em 1em;
    left: 95px;
	    width: 31%;
}
.rate h5 {
    font-size: 3em;
}
.last-grid {
    float: left;
    width: 50%;
}
.last-grid img {
    width: 100%
}
.last-grid:nth-child(3) {
    margin-top: 2em;
}
.last-grid:nth-child(4) {
    margin-top: 2em;
}
.new-grid {
    float: left;
    width: 33.3%;
}
.footer-grid {
    float: left;
    width: 25%;
}
.footer-grid ul li a {
    font-size: 0.95em;
}
.footer-grid:nth-child(4) {
    padding: 0;
}
.footer-grid:nth-child(2) {
    padding: 0;
}
.about-grid1 {
    float: left;
    width: 40%;
}
.about-grid {
    float: left;
    width: 60%;
}
.cook-grid {
    float: left;
    width: 33.3%;
}
.cook-grid ul li a {
    font-size: 0.96em;
}
.ch-grid li {
    width: 170px;
    height: 170px;
}
.ch-grid li {
    margin: 3px;
}
.ch-info h4 {
    padding: 31px 0 0 0;
    height: 76px;
}
.ch-info p {
    padding: 9px 0px;
}
.items-grid {
    float: left;
    width: 33.3%;
}
.history-grid {
    float: left;
    width: 25%;
}
.history-grid .icon {
    width: 100px;
    height: 100px;
}
.about-grid h5 {
    font-size: 0.98em;
}
figure.icon i {
    margin-top: 1.3em;
}
.history-section {
   min-height: 420px;
}
.history-grid h5 {
    font-size: 2.5em;
}
.history-grid h6 {
    font-size: 1.3em;
}
.google-map iframe {
    min-height: 330px;
}
.contact-right,.contact-left  {
    float: left;
    width: 50%;
}
.contact-right input[type="text"],.contact-right textarea {
    padding: 7px 10px;
}
}
@media (max-width: 667px){
.rate1 {
    padding: 1em 1em;
    left: 75px;
    width: 35%;
}
.rate {
    padding: 1em 1em;
    left: 75px;
    width: 35%;
}
}
@media (max-width: 640px){
.navbar-brand h1 a {
    font-size: 1.1em;
}
.navbar-toggle {    
	margin-right: 0px;
}
.navbar-nav {
    margin-top: 12px;
    text-align: Center;
	float:none;
}
.navbar-collapse {
    max-height: 361px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #6FAF09;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #6FAF09;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #6FAF09;
	background-color: #6FAF09;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:#000;
}
.slider {
    margin-bottom: 2em;
}
.cap {
    margin-top: 1em;
}
.caption p {
    padding: 1.2em 0;
}
.cap {
    width: 50%;
    float: left;
    padding: 0;
}
.caption h3, .feature-menu h3, .last-post h3, .new-section h3, .staff-section h3, .iteam h3, .history-section h3 {
    font-size: 2.1em;
}
.header {
    background: url(../images/banner1.jpg) no-repeat -180px 0px;
    background-size: cover;
	min-height: 480px;
}
.high-quality h2, .about-section h2, .gallery h2, .typography-info h2, .contact h2 {
    font-size: 2.2em;
}
.rate h5 {
    font-size: 2.5em;
}
.rate {
    position: absolute;
    top: -20px;
    left: 70px;
    width: 34%;
}
.rate1 {
    position: absolute;
    top: -20px;
    left: 70px;
    width: 34%;
}
.last-grids, .news-grids ,.items-grids,.gallery-grids,.google-map,.about-grids ,.history-grids {
    margin-top: 2em;

}
.footer-grid:nth-child(2) {
    margin: 2em 0;
}
.footer-grid:nth-child(4) {
    margin-top: 2em;
}
.footer-grid {
   width: 100%;
   padding:0;
}
.last-grid h4, .new-grid h4 {
    font-size: 1.2em;
}
.footer-grid h4 {
    font-size: 1.3em;
}
.header.head-top {
    min-height: 108px;
    background-size: cover;
    background: url(../images/banner1.jpg) no-repeat -0px 0px;
}
.about-grid1 {
    float: none;
    width: 100%;
}
.about-grid {
    float: none;
    width: 100%;
}
.about-grid1 img {
    margin: 0 auto;
}
.cook-grid {
    float: none;
    width: 60%;
    margin: 0 auto;
}
.cook1,.cook2,.cook3 {
      padding: 3em 0;
}
.ch-grid li {
    margin: 14px;
}
.ch-grid {
    margin: 2em 0 0;
}
.history-grid h5 {
    font-size: 2em;
}
.history-grid h6 {
    font-size: 1.1em;
}
.history-section {
    min-height: 375px;
}
.typography grid_4 {
    background: none;
    margin-top: 35px;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 55%!important;
}
.google-map iframe {
    min-height: 260px;
}
.contact-right h5 {
    font-size: 0.95em;
}
.contact-right input[type="submit"] {
    width: 27%;
}
}
@media (max-width: 480px){
.cap-img {
    width: 100%;
}
.navbar-default {
    padding: 1em 0 0 0;
}
.cap-img img {
    width: 60%;
    margin: 0 auto;
}
.cap {
    width: 100%;
	margin-bottom: 2em;
}
.high-quality h2, .about-section h2, .gallery h2, .typography-info h2, .contact h2 {
    font-size: 1.8em;
}
.caption h3, .feature-menu h3, .last-post h3, .new-section h3, .staff-section h3, .iteam h3, .history-section h3 {
    font-size: 2em;
}
.high-quality h3 {
    font-size: 1.7em;
}
.high-quality, .feature-menu, .last-post, .new-section, .footer-section, .about-section, .staff-section, .iteam, .history-section, .gallery, .typography, .contact {
    padding: 2em 0;
}
.rate h5 {
    font-size: 2em;
}
.rate {
    position: absolute;
    top: -20px;
    left: 47px;
    width: 39%;
}
.rate1 {
    position: absolute;
    top: -20px;
    left: 47px;
    width: 39%;
}
.last-grid h4, .new-grid h4 {
	line-height:1.5em;
 }
.about-grid h5 {
    font-size: 0.95em;
}
.cook-grid h3 {
    font-size: 1.8em;
}
.cook-grid p {
    padding: 1.5em 0;
}
.cook1,.cook2,.cook3 {
    border-top: 5px solid #f5261f;
}
.ch-info h4 {
    font-size: 1.2em;
}
.history-grid {
    float: left;
    width: 50%;
}
.history-grid:nth-child(3) {
    margin-top: 2em;
}
.history-grid:nth-child(4) {
    margin-top: 2em;
}
figure.icon i {
    margin-top: 1.1em;
}
.history-grid .icon {
    width: 90px;
    height: 90px;
}
.header.head-top {
    min-height: 95px;
    background-size: cover;
    background: url(../images/banner1.jpg) no-repeat 0px 0px;
}
.google-map iframe {
    min-height: 200px;
}
.contact-right, .contact-left {
       width: 100%;
}
.contact-right input[type="submit"] {
    width: 20%;
}
.contact-left:nth-child(2) {
    margin-top: 1em;
}
}
@media (max-width: 414px){
.rate1 {
    position: absolute;
    top: -24px;
    left: 34px;
    width: 47%;
}
.rate {
    position: absolute;
    top: -24px;
    left: 34px;
    width: 47%;
}
.last-grid {
    padding:0;
    width: 100%;
}
.last-grid:nth-child(2) {
    margin-top: 2em;
}
.new-grid {
    padding:0;
    width: 100%;
}
.new-grid:nth-child(2) {
    margin: 1em 0;
}
}
@media (max-width: 320px){
.navbar-brand h1 a {
    font-size: .95em;
}
.caption {
    margin-top: 2em;
}
.caption h3, .feature-menu h3, .last-post h3, .new-section h3, .staff-section h3, .iteam h3, .history-section h3 {
    font-size: 1.8em;
}
.high-quality h3 {
    font-size: 1.3em;
}
.high-quality h2, .about-section h2, .gallery h2, .typography-info h2, .contact h2 {
    font-size: 1.7em;
}
.feature-grid {
    width: 100%;
}
.rate {
    position: absolute;
    top: -20px;
    left: 110px;
    width: 22%;
}
.rate1 {
    position: absolute;
    top: -20px;
    left: 110px;
    width: 22%;
}
.high-quality, .feature-menu, .last-post, .new-section, .footer-section, .about-section, .staff-section, .iteam, .history-section, .gallery, .typography, .contact {
    padding: 1em 0;
}
.header.head-top {
    min-height: 75px;
 }
 .last-grids, .news-grids, .items-grids, .gallery-grids, .google-map, .about-grids {
    margin-top: 1em;
}
.about-grid1 {
    padding: 0;
}
.about-grid {
    padding: 0;
}
.cook-grid {
    width: 100%;
    padding: 0;
}
.cook1, .cook2, .cook3 {
    padding: 2em 0;
}
.cook-grid h3 {
    font-size: 1.5em;
}
.items-grid {
   padding:0;
    width: 100%;
}
.items-grid:nth-child(2) {
    margin: 2em 0;
}
.history-grid {
   padding:0;
    width: 100%;
}
.history-grid:nth-child(2) {
    margin-top: 1em;
}
.history-grid:nth-child(3) {
    margin-top: 2em;
}
.history-grid:nth-child(4) {
    margin-top: 2em;
}
.footer-grid:nth-child(2) {
    margin: 1em 0;
}
.footer-grid:nth-child(4) {
    margin-top: 1em;
}
.footer-grid h4 {
    font-size: 1.2em;
}
.gallery-grid {
    width: 100%;
}
.contact-right, .contact-left {
   padding: 0;
}
input#datepicker {
    padding: 1em 1em 1em 0.2em;
}
.payment-online-form-left input[type="text"] {
    padding: 1em 0.5em;
}
}