<% include ../plantilla/headeradmin %>
<!--content-->
	<div class="content">
	<!--about-->
		<div class="about-section">
			<div class="container">
				<h2>Registrar voucher</h2>
				<div class="about-grids">
					<form action="/voucher/add" method="post" id="form-addVoucher">
						<div class="col-md-4 contact-right">

							<h5>Usuario (*)</h5>
							<input type="text" name="Usuario" >
							<h5>Celular (*)</h5>
							<input type="text" name="Celular" >
							<h5>Banco (*)</h5>
							<input type="text" name="Banco" >
							<select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>

						</div>
						<div class="col-md-4 contact-right">

							<h5>Fecha (*)</h5>
							<input type="text" name="Fecha" >
							<h5>Hora (*)</h5>
							<input type="text" name="Hora" >
							<h5>Nro Operacion (*)</h5>
							<input type="text" name="Noperacion" >

						</div>
						<div class="col-md-4 contact-right">

							<h5>Monto (*)</h5>
							<input type="text" name="Monto" >
							<h5>Imagen</h5>
							<input type="text" name="Imagen" >
							<h5>Observacion</h5>
							<textarea name="Observacion" ></textarea>
							<button type="button" class="btn btn-primary btn-lg" id="btn-addVoucher">Guardar</button>

						</div>

<script type="application/x-javascript"> 
	$('#btn-addVoucher').click(function(e){
		$('#form-addVoucher').submit();
	});
</script>

					</form>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!--about-->
	</div>
	
<% include ../plantilla/footer %>