<% include ../plantilla/headeradmin %>
<!--content-->
	<div class="content">
	<!--about-->
		<div class="about-section">
			<div class="container">
			<h2>VOUCHERS</h2>
			<!--button type="button" class="btn btn-primary btn-lg" id="btn-addVoucher">Registrar</button-->
			<div class="bs-docs-example table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>#</th>
							<th>Usuario</th>
							<th>Banco</th>
							<th>Monto</th>
							<th>Intento</th>
							<th>Validado</th>
						</tr>
					</thead>
					<tbody>
					<% vouchers.forEach(function(voucher) {%>
						<tr class="warning">
							<td>
								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"
									data-voucher='{
										"id": <%= voucher.id %>,
										"username": "<%= voucher.user_username %>",
										"banco": "<%= voucher.banco %>",
										"noperacion": "<%= voucher.noperacion %>",
										"fecha": "<%= voucher.fecha %>",
										"monto": <%= voucher.monto %>,
										"celular": "<%= voucher.celular %>",
										"imagen": "<%= voucher.imagen %>",
										"observacion": "<%= voucher.observacion %>"
									}'>Detalle</button>
							</td>
							<td><%= voucher.id %></td>
							<td><%= voucher.user_username %></td>
							<td><%= voucher.banco %></td>
							<td><%= voucher.monto %></td>
							<td><%= voucher.intento %></td>
							<td>
								<% if(voucher.validado == 2){%>
									<span class="badge badge-success">&nbsp;Si&nbsp;</span>
								<% }else if(voucher.validado == 1){%>
									<span class="badge badge-warning">Rechazado</span>
								<% }else {%>
									<span class="badge badge-danger">No</span>
								<% }%>
							</td>
						</tr>
					<% }); %>
					</tbody>
				</table>
			</div>

			</div>
		</div>
		<!--about-->
	</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

    <!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Detalle voucher</h4>
			</div>
			<div class="modal-body">
				<p><b>Usuario: </b><span id="username"></span></p>
				<p><b>Banco: </b><span id="banco"></span></p>
				<p><b>Nro Operacion: </b><span id="noperacion"></span></p>
				<p><b>Fecha: </b><span id="fecha"></span></p>
				<p><b>Monto: </b><span id="monto"></span></p>
				<p><b>Celular: </b><span id="celular"></span></p>
				<p><b>Observacion: </b><span id="observacion"></span></p>

				<div>
				<form action="/voucher/validate" method="post" id="form-validateVoucher">
					<input type="hidden" id="input-idVoucher" name="id">
					<input type="hidden" id="input-validadoVoucher" name="validado">
				</form>
				</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary pull-left" id="btn-validarVoucher">Validar</button>
				<button type="button" class="btn btn-warning pull-left" id="btn-validar2Voucher">Rechazado</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<script type="application/x-javascript">
	var voucher;
	$('#myModal').on('show.bs.modal', function (e) {
		voucher = $(e.relatedTarget).data('voucher');
		
		$("#username").html(voucher.username);
		$("#banco").html(voucher.banco);
		$("#noperacion").html(voucher.noperacion);
		$("#fecha").html(moment(voucher.fecha).format('YYYY-MM-DD H:mm:ss'));
		$("#monto").html(voucher.monto);
		$("#celular").html(voucher.celular);
		//$("#imagen").html(voucher.imagen);
		$("#observacion").html(voucher.observacion);
	});

	$("#btn-validarVoucher").click(function (){
		$("#input-idVoucher").val(voucher.id);
		$("#input-validadoVoucher").val(2);
		$("#form-validateVoucher").submit();
	});
	$("#btn-validar2Voucher").click(function (){
		$("#input-idVoucher").val(voucher.id);
		$("#input-validadoVoucher").val(1);
		$("#form-validateVoucher").submit();
	});
</script>

	
<% include ../plantilla/footer %>