<!--footer-->
	<!--copy-->
		<div class="copy-section">
			<div class="container">
				<p>&copy; Internet Wifi. All rights reserved | Developed by danieldantecuevas@gmail.com</p>
			</div>
		</div>
	<!--copy-->
</body>
</html>