<% include ../plantilla/headerclient %>
<!--content-->
	<div class="content">
	<!--about-->
		<div class="about-section">
			<div class="container">
				<h2>Registrar voucher</h2>
				<div class="about-grids">
					<form action="/clientvoucher/add" method="post" id="form-addClientVoucher">

						<div class="col-md-4 contact-right">

							<h5>Fecha y Hora (*)</h5>
							<input type='text' class="form-control" name="fecha" id='input-fechaClientVoucher' readonly="readonly"/>
							<div>

								<div id="datetimepicker" style="background-color: white;"></div>
								<script type="text/javascript">
									$(function () {
										$('#datetimepicker').datetimepicker({
											locale: 'es',
											format: "YYYY-MM-DD HH:mm:ss",
											inline: true,
											useCurrent: false,
											sideBySide: false
										});
										$("#datetimepicker").on("dp.change", function (e) {
											$("#input-fechaClientVoucher").val(moment(e.date._d).format('YYYY-MM-DD H:mm:ss'));
										});
									});
								</script>
							</div>							
							<input type="hidden" name="usuario" value="<%= userName %>">
							
						</div>
						<div class="col-md-4 contact-right">

							<h5>Banco (*)</h5>
							<select class="form-control" name="banco">
								<option value=""> Seleccione un banco </option>
							<% bancos.forEach(function(banco) {%>
								<option value="<%= banco.nombre +' - '+ banco.cuenta %>"><%= banco.nombre +' - '+ banco.cuenta %></option>
							<% }); %>
							</select>
							<h5>Nro Operacion (*)</h5>
							<input type="text" class="form-control" name="noperacion" >
							<h5>Monto (*)</h5>
							<input type="text" class="form-control" name="monto" >
							<h5>Periodo (*)</h5>
							<select class="form-control" name="periodo" id="combo-periodo">
								<option value=""> Seleccione un periodo </option>
							<% periodos.forEach(function(periodo) {%>
								<option value="<%= periodo.nombre %>"
									data-periodo='{
										"alert": "<%= periodo.alert %>",
										"extra": <%= periodo.extra %>
									}'>
									<%= periodo.nombre %></option>
							<% }); %>
							</select>
							<label id="lbl-periodo" class="info"> </label>
							

						</div>
						<div class="col-md-4 contact-right">

							<h5>Celular</h5>
							<input type="text" class="form-control" name="celular" >
							<h5>Observacion</h5>
							<textarea name="observacion" class="form-control"></textarea>
							<br>
							<button type="button" class="btn btn-primary btn-lg" id="btn-addClientVoucher">Enviar</button>

						</div>

<script type="application/x-javascript"> 
	$('#btn-addClientVoucher').click(function(e){
		$('#form-addClientVoucher').submit();
	});

	$('#combo-periodo').change(function(e){
		//alert($(this).val() + " - " + e);
		if($(this).val() != ""){
			var periodo = $('#combo-periodo option:selected').data('periodo');
			if(periodo.extra == 0){
				$("#lbl-periodo").html(periodo.alert);
			}else {
				$("#lbl-periodo").html(periodo.alert);
			}
		}else {
			$("#lbl-periodo").html("");
		}
		//console.log(e);
	});

	$().ready(function() {
		$("#form-addClientVoucher").validate({
			rules: {
				noperacion: "required",
				monto: {
					required: true,
					number: true
				},
				banco: {
					required: true
				},
				fecha: {
					required: true,
					date: true
				},
				periodo: {
					required: true
				}
			},
			messages: {
				noperacion: "Nro operacion es requerido",
				monto: {
					required: "Monto es requerido",
					number: "El monto debe ser un numero"
				},
				banco: {
					required: "Seleccione un banco"
				},
				fecha: {
					required: "Fecha es requerido",
					date: "Fecha no tiene formato"
				},
				periodo: {
					required: "Seleccione un periodo"
				}
			}
		});

	});
</script>

					</form>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!--about-->
	</div>
	
<% include ../plantilla/footer %>