<% include ../plantilla/headerclient %>
<!--content-->
	<div class="content">
	<!--about-->
		<div class="about-section">
			<div class="container">
			<h2>VOUCHERS</h2>
			<button type="button" class="btn btn-primary btn-lg" id="btn-addClientVoucher">Registrar</button>
			<div class="bs-docs-example table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<!--th></th-->
							<th>#</th>
							<th>Usuario</th>
							<th>Banco</th>
							<th>Monto</th>
							<th>Validado</th>
						</tr>
					</thead>
					<tbody>
					<% c=1 %>
					<% vouchers.forEach(function(voucher) {%>
						<tr class="warning">
							<!--td><button type="button" class="btn btn-primary btn-sm">Editar</button></td-->
							<td>
								<% if(voucher.validado == 1){%>
									<button type="button" class="btn btn-primary btn-sm" id="btn-editClientVoucher"
									data-voucher-id="<%= voucher.id %>">Editar</button>
								<% } else {%>
									<%= c %>
								<% }%>
							</td>
							<td><%= voucher.user_username %></td>
							<td><%= voucher.banco %></td>
							<td><%= voucher.monto %></td>
							<td>
								<% if(voucher.validado == 2){%>
									<span class="badge badge-success">&nbsp;Si&nbsp;</span>
								<% }else if(voucher.validado == 1){%>
									<span class="badge badge-warning">Rechazado</span>
								<% }else {%>
									<span class="badge badge-danger">No</span>
								<% }%>
							</td>
						</tr>
					<% c++ %>
					<% }); %>
					</tbody>
				</table>
			</div>

			</div>
		</div>
		<!--about-->
	</div>

<script type="application/x-javascript"> 
	$('#btn-addClientVoucher').click(function(e){
		document.location.href = '/clientvoucheradd';
	});

	$('#btn-editClientVoucher').click(function(e){
		//console.log($(this).data('voucher-id'));
		var id = $(this).data('voucher-id');
		document.location.href = '/clientvoucheredit'+id;
	});
</script>
	
<% include ../plantilla/footer %>