<% include ../plantilla/headerclient %>
<!--content-->
	<div class="content">
	<!--about-->
		<div class="about-section">
			<div class="container">
				<h2>Registrar voucher</h2>
				<div class="about-grids">
					<form action="/clientvoucher/edit" method="post" id="form-editClientVoucher">
						<div class="col-md-4 contact-right">

							<h5>Fecha y Hora (*)</h5>
							<input type='text' class="form-control" name="fecha" id='input-fechaClientVoucher' readonly="readonly" value="<%= voucher.fecha%>"/>
							<div>

								<div id="datetimepicker" style="background-color: white;"></div>
								<script type="text/javascript">
									$(function () {
										var $fecha = '<%= voucher.fecha %>';
										$("#input-fechaClientVoucher").val(moment($fecha).format('YYYY-MM-DD H:mm:ss'));
										$('#datetimepicker').datetimepicker({
											locale: 'es',
											format: "YYYY-MM-DD HH:mm:ss",
											defaultDate: $fecha,
											inline: true,
											sideBySide: false
										});
										$("#datetimepicker").on("dp.change", function (e) {
											$("#input-fechaClientVoucher").val(moment(e.date._d).format('YYYY-MM-DD H:mm:ss'));
										});
									});
								</script>
							</div>							
							<input type="hidden" name="usuario" value="<%= userName %>">
							<input type="hidden" name="id" value="<%= voucher.id %>">
							<input type="hidden" name="intento" value="<%= voucher.intento %>">
							
						</div>
						<div class="col-md-4 contact-right">

							<h5>Banco (*)</h5>
							<select class="form-control" name="banco">
								<option value=""> Seleccione un banco </option>
							<% bancos.forEach(function(banco) {%>
								<% $banco = banco.nombre +' - '+ banco.cuenta  %></br>
								<% $selected=""%>
								<% if(voucher.banco)%>
									<% $selected='selected="selected"' %>
								<option value="<%= banco.nombre +' - '+ banco.cuenta %>" <%= $selected%> ><%= $banco %></option>
							<% }); %>
							</select>
							<h5>Nro Operacion (*)</h5>
							<input type="text" class="form-control" name="noperacion" value="<%= voucher.noperacion%>">
							<h5>Monto (*)</h5>
							<input type="text" class="form-control" name="monto" value="<%= voucher.monto%>">
							<h5>Celular</h5>
							<input type="text" class="form-control" name="celular" value="<%= voucher.celular%>">

						</div>
						<div class="col-md-4 contact-right">

							<h5>Observacion</h5>
							<textarea name="observacion" class="form-control"><%= voucher.observacion%></textarea>
							<br>
							<button type="button" class="btn btn-primary btn-lg" id="btn-editClientVoucher">Enviar</button>

						</div>

<script type="application/x-javascript"> 
	$('#btn-editClientVoucher').click(function(e){
		$('#form-editClientVoucher').submit();
	});

	$().ready(function() {
		$("#form-editClientVoucher").validate({
			rules: {
				noperacion: "required",
				monto: {
					required: true,
					number: true
				},
				banco: {
					required: true
				},
				fecha: {
					required: true,
					date: true
				}
			},
			messages: {
				noperacion: "Nro operacion es requerido",
				monto: {
					required: "Monto es requerido",
					number: "El monto debe ser un numero"
				},
				banco: {
					required: "Seleccione un banco"
				},
				fecha: {
					required: "Fecha es requerido",
					date: "Fecha no tiene formato"
				}
			}
		});

	});
</script>

					</form>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!--about-->
	</div>
	
<% include ../plantilla/footer %>