<% include ../plantilla/header %>
<!--content-->
	<div class="content">
	<!--about-->
		<div class="about-section">
			<div class="container">
				<h2>INFORMACION</h2>
				
			</div>
		</div>
		<!--about-->
	</div>
	
<% include ../plantilla/footer %>