<% include ../plantilla/headeradmin %>
<!--content-->
	<div class="content">
	<!--about-->
		<div class="about-section">
			<div class="container">
				<h2>Registrar Usuario</h2>
				<div class="about-grids">
					<form action="/user/add" method="post" id="form-addUser">
						<div class="col-md-4 contact-right">

							<h5>Nombres (*)</h5>
							<input type="text" name="nombre" >
							<h5>Apellidos (*)</h5>
							<input type="text" name="apellido" >
							<h5>Celular (*)</h5>
							<input type="text" name="celular" >

						</div>
						<div class="col-md-4 contact-right">

							<h5>Usuario (*)</h5>
							<input type="text" name="username" >
							<h5>Contraseña (*)</h5>
							<input type="text" name="password" >
							<h5>Fecha Abono</h5>
							<input type="text" name="fecha" >

						</div>
						<div class="col-md-4 contact-right">

							<h5>Monto (*)</h5>
							<input type="text" name="monto" >
							<h5>Observacion</h5>
							<textarea name="observacion" ></textarea>
							<button type="button" class="btn btn-primary btn-lg" id="btn-addUser">Guardar</button>

						</div>


<script type="application/x-javascript"> 
	$('#btn-addUser').click(function(e){
		$('#form-addUser').submit();
	});
</script>

					</form>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!--about-->
	</div>
	
<% include ../plantilla/footer %>