<% include ../plantilla/headeradmin %>
<!--content-->
	<div class="content">
	<!--about-->
		<div class="about-section">
			<div class="container">
				<h2>ADMINISTRACION</h2>
				
			</div>
		</div>
		<!--about-->
	</div>
<% include ../plantilla/footer %>