<% include ../plantilla/headeradmin %>
<!--content-->
	<div class="content">
	<!--about-->
		<div class="about-section">
			<div class="container">
			<h2>USUARIOS</h2>
			<button type="button" class="btn btn-primary btn-lg" id="btn-addUser">Registrar</button>
			<div class="bs-docs-example table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>#</th>
							<th>Usuario</th>
							<th>Password</th>
							<th>Nombre</th>
						</tr>
					</thead>
					<tbody>
					<% users.forEach(function(user) {%>
						<tr class="warning">
							<td><button type="button" class="btn btn-primary btn-sm">Editar</button></td>
							<td><%= user.id %></td>
							<td><%= user.username %></td>
							<td><%= user.password %></td>
							<td><%= user.nombre %></td>
						</tr>
					<% }); %>
					</tbody>
				</table>
			</div>

			</div>
		</div>
		<!--about-->
	</div>
<script type="application/x-javascript"> 
	$('#btn-addUser').click(function(e){
		document.location.href = '/useradd';
	});
</script>
<% include ../plantilla/footer %>