<% include ../plantilla/header %>
<!--content-->
	<div class="content">
	<!--about-->
		<div class="about-section">
			<div class="container">
				<h2>Login</h2>
				<div class="about-grids">
					<form action="/login" method="post" id="form-loginUser">
						<div class="col-md-6 col-md-offset-3 contact-right">

							<h5>User (*)</h5>
							<input type="text" class="form-control" name="username" id="input-usernameUser">
							<h5>Password (*)</h5>
							<input type="password" class="form-control" name="password" >
							<h5>Tipo</h5>
							<select class="form-control" id="drop-typeUser">
								<option value="cli">Usuario</option>
								<option value="adm">Administrador</option>
							</select>
							<!--/br></br>
							<label class="radio-inline"><input type="radio" value="cli" name="type" id="radio-typeUser" checked="checked">Usuario</label>
							<label class="radio-inline"><input type="radio" value="adm" name="type" id="radio-typeUser">Administrador</label-->
							</br></br>
							<button type="button" class="btn btn-primary btn-lg" id="btn-loginUser">Enviar</button>
							
						</div>

<script type="application/x-javascript"> 
	$('#btn-loginUser').click(function (e){
		//$('#input-usernameUser').val($("input:radio[name='type']:checked").val() + $('#input-usernameUser').val());
		$('#input-usernameUser').val($("#drop-typeUser").val() + $('#input-usernameUser').val());
		$('#form-loginUser').submit();
	});

	/*$("input:radio[name='type']").click(function (e){
		console.log( $(this).val() + " is checked!" );
	});*/
</script>

					</form>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!--about-->
	</div>
	
<% include ../plantilla/footer %>